<header>
  <img id="thanos" [src]="thanosImg" alt="Thanos" (click)="balanceUniverse()">
</header>
<main class="characters">
  <div *ngFor="let character of characters" class="character">
    <img 
    *ngIf="character.name !== 'Thanos' && character.name !== 'Avengers' && character.name !== 'Fantastic Four' && character.name !== 'X-Men'"
    src="{{character.thumbnail.path + '/standard_medium.jpg'}}"
    [alt]="character.name">

    <h4 *ngIf="character.name !== 'Thanos' && character.name !== 'Avengers' && character.name !== 'Fantastic Four' && character.name !== 'X-Men'">
      {{ character.name | removeParenthesis }}
    </h4>
  </div>
  <img
  [style.opacity]="snapImageState"
  id="snap"
  src="../assets/img/snap.jpg"
  alt="snap">
</main>